p2{
   color:green;
   font-size:20px;
   text-indent: 2em;
}
.stress{
  font-size:12px;
  color:red;
  font-weight: inherit;
}
#stress{
  font-size:12px;
  color:red;
  font-weight: bold;
}
beside,.first>span{border: 1px solid red}
form,caption{text-align: center;}
h1,h2,h3,h4,h5{text-align:center;}
p,pre,em,label{text-indent: 2em}
